/* Spinner Overlay Styles */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it covers other content */
  backdrop-filter: blur(5px); /* Blur the background */
}

/* Spinner UI Styles */
.spinner-ui {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  background: transparent; /* Background for the spinner UI */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  position: relative;
  transition: transform 0.5s ease; /* Adjust duration and easing as needed */
}

.spinner-image {
  width: 478px;
  height: 478px;
  transition: transform 5s ease; /* Adjust duration and easing as needed */
}

.spin-btn-div {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(223px, 223px);
}
.spin-btn {
  width: 70px;
}

.arrow-div {
  position: absolute;
  z-index: 10;
}

.arrow {
  width: 46px;
}

/* Optional: Centering the spinner UI on the page */
.spinner-ui {
  text-align: center;
}

@media (max-width: 777px) {
  .spinner-image {
    width: 350px;
    height: 350px;
    position: relative;
  }
  .arrow {
    width: 37px;
  }
  .spin-btn {
    width: 50px;
  }
  .spin-btn-div {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(340%, 318%);
  }
}

#message {
  background-color: white;
  width: 350px;
  height: 200px;
  text-align: center;
  margin-top: 20px;
  display: none;
  border-radius: 12px;
  border: 1px solid rgb(29 186 51);
  padding: 20px;
}

#message h3 {
  color: rgb(29 186 51);
  font-size: 26px;
  margin-bottom: 5px;
  font-weight: bold;
}
#message h6 {
  color: black;
  font-size: 18px !important;
  margin-bottom: 5px;
}

.jackpot-link {
  background-color: rgb(29 186 51);
  border-radius: 6px;
  padding: 10px;
  font-size: 22px;
  color: white;
  margin-top: 20px;
}
.jackpot-link a {
  font-size: 22px;
  color: white;
}
